//ImageGallery.scss
.my-masonry-grid {
    display: flex;
    margin-left: -30px; // Adjust gap between columns
    .my-masonry-grid_column {
        padding-left: 30px; // Adjust gap between images
    }
}

.image-item {
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;

    &.blurred {
        filter: brightness(0.7);
    }

    &:hover {
        transform: scale(1.03);
    }
}

.image-wrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: #fff;
    padding: 10px;
    font-size: 0.9rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;

    .image-description {
        margin: 0;
    }
}

.image-item:hover .image-overlay {
    opacity: 1;
}

.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    i {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}
