.search-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 60px;
}

.website-name {
    font-size: 25px;
    font-weight: bold;
    color: #24ee00;
    margin-right: 20px;
    font-family: 'Lucida Handwriting', cursive; 
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 800px;
    height: 30px; 
    margin: 0 auto;
    border-radius: 25px;
    background-color: #f3f3f3;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
    flex: 1;
    height: 30px; /* Same as the .search-bar height */
    line-height: 30px; /* Match line-height to height for better alignment */
    border: none;
    outline: none;
    padding: 0 10px; /* Only left and right padding */
    border-radius: 25px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #333;
    transform: translateY(2px); /* Moves text down slightly */
}



.search-button {
    background-color: #24ee00;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #00b800;
}

.upload-container {
    margin-left: 10px;
}

.upload-button-label {
    cursor: pointer;
    color: #333;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.upload-button-label:hover {
    color: #00b800;
}

.image-upload {
    display: none; 
}

.auth-buttons {
    display: flex; /* Use flexbox to align children in a row */
    align-items: center; /* Center the items vertically */
    margin-left: auto; /* Push the buttons to the right */
}

.auth-button {
    background: none;
    border: none;
    color: #333;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px; /* Space between the buttons */
    cursor: pointer;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: color 0.3s;
}

.auth-button:hover {
    color: #00b800;
}

